.select-busqueda{
    width: 250px;
}

.v-select .v-field .v-field__input > input {
    opacity: 0;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}