$white: #fff;
$soft-gray: #dddbda;
$dark-gray: #3d3f43;

$font-dark: #434a4b;
$font-link: #0c4d8b;
$font-light: #b5b5c3;

$blue: #0c4d8b;
$soft-blue: #088cbc;
$light-blue: #088cbc;
$purple: #554a9e;

$gradient: linear-gradient(90deg, $purple 0%, $soft-blue 100%);


$primary: #B99760;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;
$primaryBackground: #f4f0e8;
$secondary: #15212F;
$white: #FFFFFF;
$error: #ff0000;
$pantone-true: #B08C55;
$pantone: #bda889;
$pantone-ligth: #efe8dd;
$pantone-hight-ligth: #d1bd9c;
$accent: #15212F ;

// $accent: rgb(21, 33, 47);
$gold: #B08C55;
